<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <header class="site-footer-heading">
          <img class="site-footer-brand" src="/images/logo/b_beaker_icon_v1.png" alt="{{ site.title }}">
          <p class="footer-tiny" id="copyright">Copyright © 2018 Daolab</p>
          <script type="text/javascript">document.getElementById('copyright').textContent = 'Copyright © ' + (new Date()).getFullYear() + ' Daolab'</script>
        </header>
      </div>
      <!-- <div class="col-md-2 offset-md-3">
        <ul class="contact-list">
          <h5>Documentation</h5>
          <li>
            <a href="/docs/whitepaper.pdf">
              Whitepaper              
            </a>
          </li>
        </ul>
      </div> -->
      <div class="col-md-2 offset-md-5">
        <ul class="contact-list">
          <h5>Community</h5>
          <li>
            <a href="https://github.com/daolab/beaker-whitepaper">
              <i class="fab fa-github"></i>
              Github              
            </a>
          </li>
          <li>
            <a href="https://twitter.com/_daolab">
              <i class="fab fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li>
            <a href="https://www.reddit.com/r/daolab/">
              <i class="fab fa-reddit"></i>
              Reddit
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
          <ul class="contact-list">
            <h5>Organization</h5>
            <li>
              <a href="/about">
                About
              </a>
            </li>
            <li>
                <a href="/about#careers">
                  Careers
                </a>
              </li>
            <li>
                <a href="mailto:{{ site.email }}">
                  Contact
                </a>
              </li>
          </ul>
        </div>
    </div>
    <div class="row">
      
    </div>
  </div>
</footer>