<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <header class="site-footer-heading">
          <img class="site-footer-brand" src="/images/logo/caps.svg" alt="{{ site.title }}">
          <p class="footer-tiny" id="copyright">Copyright © 2019 Daohub</p>
          <script type="text/javascript">document.getElementById('copyright').textContent = 'Copyright © ' + (new Date()).getFullYear() + ' Daohub'</script>
        </header>
      </div>
      <!-- <div class="col-md-2 offset-md-3">
        <ul class="contact-list">
          <h5>Documentation</h5>
          <li>
            <a href="/docs/whitepaper.pdf">
              Whitepaper              
            </a>
          </li>
        </ul>
      </div> -->
      <div class="col-md-2 offset-md-5">
        <ul class="contact-list">
          <h5>Community</h5>
          <li>
            <a href="https://github.com/daohub-io/beaker-whitepaper">
              <i class="fab fa-github"></i>
              Github              
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
          <ul class="contact-list">
            <h5>Organization</h5>
            <li>
              <a href="https://daohub.io">
                Daohub
              </a>
            </li>
            <li>
                <a href="mailto:{{ site.email }}">
                  Contact
                </a>
              </li>
          </ul>
        </div>
    </div>
    <div class="row">
      
    </div>
  </div>
</footer>