/*
* Html Layout
*/
html, body {
  height: 100%;
  width: 100%;
  z-index: -100;
  background-color: transparent;
}

.site-header, .site-frontpage-jumbo, .site-doc-jumbo, .site-footer {
  color: $main-color5;
  background-color: #bbb;
  margin-bottom: 0;
  z-index: 1;
}

.site-header {
  padding: 1rem;
  display:none;
  .site-header-nav {
    .site-nav-brand {
      img {
        height: 1.5em;
      }
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      margin-left: -10px;
    }
    .nav-link {
      color: $main-color2;
      &:hover {
        color: #444;
      }
    }
  }
}


.site-frontpage-jumbo {
  position: relative;
  background-color: rgb(241, 241, 241);    
  z-index: 0;
  // .background-image {
  //   background-image: url("/images/vancouver.jpg");
  //   background-size: cover;
  //   filter: blur(2px) brightness(0.5);
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  // }
  header {
    color: rgb(0, 0, 0);
    padding: 10rem 0 7rem;
    .project-name {
      font-weight: 900;
      b {
        text-shadow: #222;
        color: #fbd13b;
      }
    }
    .project-desc {
    }
    
    h3 {
      color: $main-color2;
    }
  }
  
  .btn-whitepaper {
    width: 18rem;
    margin: 1rem 0 0 0;
    font-size: 1.4rem;
    color: #333;
    background: transparent;
    border: 2px solid #fbd13b;
    font-weight: 900;
    h4 { padding: 0; margin: 0;}
  }

  .bg-animation {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -10;
  }
}

.site-frontpage {
  padding: 6rem 0;
  color: rgb(80, 80, 80);

  &.contact {
    background-color: rgb(247, 247, 247);
    svg {
      position: relative;
      color: $main-color4;
    }
    a {
      color: #333;
      font-size: 1.2rem;
      margin-left: 0.5rem;
    }
  }
  &.why {
    color: #fff;
    background-color: rgb(58, 58, 58);
  }

}


.site-frontpage-form {
  padding: 3rem 0;
  background-color: $main-color4;
  color: $main-color1;
  text-align: center;

}

.site-page-jumbo {
  min-height: 10rem;
  background: linear-gradient(#121212,#242b52);
  color: #fff;
  margin: 0;
}

.site-about {
  padding: 3rem 0 6rem;
  background-color: #fff;
  color: #333;
}

.site-frontpage.team {

  p {
    padding: 3rem 0;
  }
  h2, h4 {
    margin-bottom: 2em;
  }
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      font-weight: bold;
      margin-top: 1rem;
    }
    h6 {
      color: rgb(156, 156, 156);
      font-size: 0.9rem;
    }
    img {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      background-clip: border-box;
    }
    p {
      padding: 1rem;
      font-size: 0.9rem;
    }
  }

}

.site-frontpage.roadmap {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul.milestones{
    li {
      margin: 0;
      flex-grow: 1;
      &:nth-child(1) .card {background-color: #fbd13b }
      &:nth-child(1) { flex-grow: 0; flex-basis: 15rem; }
      &:nth-child(2) .card { background-color: #fcdf78 }
      &:nth-child(3) .card {background-color: #fdeaa5 }
      &:nth-child(4) { flex-grow: 2;}
      
      .card {
        border-radius: 0;
        border: none;
        padding: 1rem;
        margin: 0;
        h6 {
          width: 10rem;
          font-weight: 300;
        }
      }
      
      date {
      }
    }
  }

  ul.years {
    margin-top: 1rem;
    li {
      padding: 1rem 1rem;
      border: 1px solid #333;
      flex-grow: 1;
      &:nth-child(3) { flex-grow: 0; flex-basis: 15rem; }
    }
  }
}

.site-about.careers {
  background-color: #f7f7f7;
  h5 { margin-top: 3rem; }
}

.site-doc-nav {
  background-color: #afafaf;

  ul {
    list-style: none;
    a {
      color: #fff;
    }
  }
}

.site-footer {
  padding: 3em 0;
  img {
    width: 5rem;
    margin: 0 0 -2rem -1rem;;
  }
  .site-footer-heading, .site-footer-sub {
    padding: 1rem 0 0;
  }
  .footer-tiny {
    padding-top:2rem;
    font-size: 10px;
    color: rgb(129, 129, 129);
  }
  h5 {
    color: #afafaf;
  }
  .contact-list {
    margin: 0;
    list-style: none;
    padding: 1em 0;
    li a {
      color: #fff;
      i {
        color: #444;
        width: 1em;
        padding-right: 1rem;
      }
      &:hover {
        text-decoration: none; 
        color: #f1f1f1;
      }
    }
  }
}
